# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/a
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
/tools/df/genomes

# Andrew's
notebooks/tmp/
*.DS_Store
.gitignore
settings.json
notebooks/MultiGuide_Analysis/tmp
tools/cytof_atlas/
tools/seqlogo/
tools/iceio/
.Rproj.user

# Cytof Data
## ignore tmp folder
epic/cytof/projects/090618_tmp/

## all csv, pdf, png output
epic/cytof/**/*.csv
epic/cytof/**/*.pdf
epic/cytof/**/*.png
epic/cytof/**/*.zip

## rmarkdown related
epic/cytof/**/*.html
epic/cytof/**/*.htm
epic/cytof/*.DS_Store

## fcs data
epic/cytof/**/*.fcs
epic/cytof/**/*.wsp

## models, objects
epic/cytof/**/*.pkl
epic/cytof/**/*.Rdata
epic/cytof/*checkpoint.ipynb
epic/cytof/projects/**/models/
epic/cytof/.Rproj.user
